terratowns_endpoint="https://terratowns.cloud/api"
soccer = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/soccer"
  content_version = 3 
}
golf = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/golf"
  content_version = 1 
}